*.cache
*.dll
*.exe
*.pdb
/build/
*.suo
*.user
*.sln.docstates
_ReSharper.*/
*.sdf
*.opensdf
*.tlog
*.log
.DS_Store
*.DS_Store
/.DS_Store
TestResult.xml
*.VisualState.xml
/FlowCraft.Common.Service/bin
/FlowCraft.Common.Service/obj
/FlowCraft.CommonApi/bin
/FlowCraft.CommonApi/obj
/FlowCraft.Entities/bin
/FlowCraft.Entities/obj
/FlowCraft.Model/bin
/FlowCraft.Model/obj
/FlowCraft.CfgApi/bin
/FlowCraft.CfgApi/obj
/FlowCraft.FinApi/bin
/FlowCraft.FinApi/obj
/FlowCraft.Cfg.XUnitTest/bin
/FlowCraft.Cfg.XUnitTest/obj
/FlowCraft.ScmApi/bin
/FlowCraft.ScmApi/obj
/FlowCraft.SvcApi/bin
/FlowCraft.SvcApi/obj
/FlowCraft.PreAudit/bin
/FlowCraft.PreAudit/obj
/.vs
/packages/packages/PagedList.1.17.0.0/lib/net40/PagedList.xml
/packages/packages/PagedList.1.17.0.0/.signature.p7s
/packages/packages/PagedList.1.17.0.0/PagedList.1.17.0.0.nupkg
/packages/packages/PagedList.Mvc.4.5.0.0/Content/Content/PagedList.css
/packages/packages/PagedList.Mvc.4.5.0.0/lib/net40/PagedList.Mvc.XML
/packages/packages/PagedList.Mvc.4.5.0.0/.signature.p7s
/packages/packages/PagedList.Mvc.4.5.0.0/PagedList.Mvc.4.5.0.0.nupkg
/packages/packages.zip
*/bin
*/obj
